.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #11111180;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__header, .modal__footer {
  padding: 10px;
}

.modal__title {
  margin: 0;
}

.modal__body {
  padding: 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}